<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524249439193-4d99hfbtvtil2huvp3s55pt34i3aqtd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524249439193-4d99hfbtvtil2huvp3s55pt34i3aqtd9</string>
	<key>API_KEY</key>
	<string>AIzaSyCuyQW0bxa2qMGrMDSXhZCY2j7BvbD4-oI</string>
	<key>GCM_SENDER_ID</key>
	<string>524249439193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videosy</string>
	<key>PROJECT_ID</key>
	<string>videosy-a2f6f</string>
	<key>STORAGE_BUCKET</key>
	<string>videosy-a2f6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524249439193:ios:29a43351f4c43dcdbb57c8</string>
</dict>
</plist>